@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FPL</h1>
</div>

<br />

<form method="get">
  <label for="TeamName">Choose a team:</label>
  <select id="TeamName" name="TeamName">
        <option value=""></option>
      @foreach (var team in Model.Statistic.teams)
        {
        <option value="@team.name">@team.name</option>
        }
  </select>
   <label for="Position">Choose a position:</label>
  <select id="Position" name="Position">
        <option value=""></option>
      @foreach (var item in Model.Positions)
       {
       <option value="@item">@item</option>          
       }
  </select>
  <input type="submit">
</form>

<br />

<table>
    <tr>
        <th>Name</th>
        <th style="padding-right: 20px">Position</th>
        <th>Team</th>
        <form method="get">
        <th style="padding-right: 20px"><button type="submit" name="TotalPoints" value="true">Total points</button></th>
        <th style="padding-right: 20px"><button type="submit" name="PointsPerGame" value="true">Points per game</button></th>
        <th style="padding-right: 20px"><button type="submit" name="Goals" value="true">Goals</button></th>
        <th style="padding-right: 20px"><button type="submit" name="Bonus" value="true">Assists</button></th>
        <th><button type="submit" name="Bonus" value="true">Bonus</button></th>
        </form>
    </tr>
    @if (Model.TotalPoints != true && Model.PointsPerGame != true && Model.Goals != true && Model.Assists != true && Model.Bonus != true)
    {
    @foreach (var element in Model.Statistic.elements.OrderByDescending(o => o.total_points))
    {
        foreach (var team in Model.Statistic.teams)
        {
            foreach (var e_type in Model.Statistic.element_types)
            {
                    if (@Model.TeamName == null && @Model.Position == null && element.team_code == team.code && e_type.id == element.element_type)
                    {
                        <tr>
                            <td><p>@element.second_name, @element.first_name</p></td>
                            <td><p>@e_type.plural_name_short</p></td>
                            <td style="padding-right: 20px"><p>@team.name</p></td>
                            <td><p>@element.total_points</p></td>
                            <td><p>@element.points_per_game</p></td>
                            <td><p>@element.goals_scored</p></td>
                            <td><p>@element.assists</p></td>
                            <td><p>@element.bonus</p></td>
                        </tr>
                    }

                    if (@Model.TeamName == team.name && @Model.Position == null && element.team_code == team.code && e_type.id == element.element_type)
                    {
                        <tr>
                            <td><p>@element.second_name, @element.first_name</p></td>
                            <td><p>@e_type.plural_name_short</p></td>
                            <td style="padding-right: 20px"><p>@team.name</p></td>
                            <td><p>@element.total_points</p></td>
                            <td><p>@element.points_per_game</p></td>
                            <td><p>@element.goals_scored</p></td>
                            <td><p>@element.assists</p></td>
                            <td><p>@element.bonus</p></td>
                        </tr>
                    }

                    if (@Model.TeamName == null && @Model.Position == e_type.plural_name_short && element.team_code == team.code && e_type.id == element.element_type)
                    {
                        <tr>
                            <td><p>@element.second_name, @element.first_name</p></td>
                            <td><p>@e_type.plural_name_short</p></td>
                            <td style="padding-right: 20px"><p>@team.name</p></td>
                            <td><p>@element.total_points</p></td>
                            <td><p>@element.points_per_game</p></td>
                            <td><p>@element.goals_scored</p></td>
                            <td><p>@element.assists</p></td>
                            <td><p>@element.bonus</p></td>
                        </tr>
                    }

                    if (@Model.TeamName == team.name && @Model.Position == e_type.plural_name_short && element.team_code == team.code && e_type.id == element.element_type)
                    {
                        <tr>
                            <td><p>@element.second_name, @element.first_name</p></td>
                            <td><p>@e_type.plural_name_short</p></td>
                            <td style="padding-right: 20px"><p>@team.name</p></td>
                            <td><p>@element.total_points</p></td>
                            <td><p>@element.points_per_game</p></td>
                            <td><p>@element.goals_scored</p></td>
                            <td><p>@element.assists</p></td>
                            <td><p>@element.bonus</p></td>
                        </tr>
                    }
                
            }
        }
        }
    }
    else
    {
        if (Model.TotalPoints)
        {
            @foreach (var element in Model.Statistic.elements.OrderByDescending(o => o.total_points))
            {
                foreach (var team in Model.Statistic.teams)
                {
                    foreach (var e_type in Model.Statistic.element_types)
                    {
                        if (element.team_code == team.code && e_type.id == element.element_type)
                        {
                            <tr>
                                <td><p>@element.second_name, @element.first_name</p></td>
                                <td><p>@e_type.plural_name_short</p></td>
                                <td style="padding-right: 20px"><p>@team.name</p></td>
                                <td><p>@element.total_points</p></td>
                                <td><p>@element.points_per_game</p></td>
                                <td><p>@element.goals_scored</p></td>
                                <td><p>@element.assists</p></td>
                                <td><p>@element.bonus</p></td>
                            </tr>
                        }
                    }
                }
            }
        }

        if (Model.PointsPerGame)
        {
            @foreach (var element in Model.Statistic.elements.OrderByDescending(o => o.points_per_game))
            {
                foreach (var team in Model.Statistic.teams)
                {
                    foreach (var e_type in Model.Statistic.element_types)
                    {
                        if (element.team_code == team.code && e_type.id == element.element_type)
                        {
                            <tr>
                                <td><p>@element.second_name, @element.first_name</p></td>
                                <td><p>@e_type.plural_name_short</p></td>
                                <td style="padding-right: 20px"><p>@team.name</p></td>
                                <td><p>@element.total_points</p></td>
                                <td><p>@element.points_per_game</p></td>
                                <td><p>@element.goals_scored</p></td>
                                <td><p>@element.assists</p></td>
                                <td><p>@element.bonus</p></td>
                            </tr>
                        }
                    }
                }
            }
            }

            if (Model.Goals)
            {
                @foreach (var element in Model.Statistic.elements.OrderByDescending(o => o.goals_scored))
                {
                    foreach (var team in Model.Statistic.teams)
                    {
                        foreach (var e_type in Model.Statistic.element_types)
                        {
                            if (element.team_code == team.code && e_type.id == element.element_type)
                            {
                                <tr>
                                    <td><p>@element.second_name, @element.first_name</p></td>
                                    <td><p>@e_type.plural_name_short</p></td>
                                    <td style="padding-right: 20px"><p>@team.name</p></td>
                                    <td><p>@element.total_points</p></td>
                                    <td><p>@element.points_per_game</p></td>
                                    <td><p>@element.goals_scored</p></td>
                                    <td><p>@element.assists</p></td>
                                    <td><p>@element.bonus</p></td>
                                </tr>
                            }
                        }
                    }
                }
            }

            if (Model.Assists)
            {
                @foreach (var element in Model.Statistic.elements.OrderByDescending(o => o.assists))
                {
                    foreach (var team in Model.Statistic.teams)
                    {
                        foreach (var e_type in Model.Statistic.element_types)
                        {
                            if (element.team_code == team.code && e_type.id == element.element_type)
                            {
                                <tr>
                                    <td><p>@element.second_name, @element.first_name</p></td>
                                    <td><p>@e_type.plural_name_short</p></td>
                                    <td style="padding-right: 20px"><p>@team.name</p></td>
                                    <td><p>@element.total_points</p></td>
                                    <td><p>@element.points_per_game</p></td>
                                    <td><p>@element.goals_scored</p></td>
                                    <td><p>@element.assists</p></td>
                                    <td><p>@element.bonus</p></td>
                                </tr>
                            }
                        }
                    }
                }
            }

        if (Model.Bonus)
        {
            @foreach (var element in Model.Statistic.elements.OrderByDescending(o => o.bonus))
            {
                foreach (var team in Model.Statistic.teams)
                {
                    foreach (var e_type in Model.Statistic.element_types)
                    {
                        if (element.team_code == team.code && e_type.id == element.element_type)
                        {
                            <tr>
                                <td><p>@element.second_name, @element.first_name</p></td>
                                <td><p>@e_type.plural_name_short</p></td>
                                <td style="padding-right: 20px"><p>@team.name</p></td>
                                <td><p>@element.total_points</p></td>
                                <td><p>@element.points_per_game</p></td>
                                <td><p>@element.goals_scored</p></td>
                                <td><p>@element.assists</p></td>
                                <td><p>@element.bonus</p></td>
                            </tr>
                        }
                    }
                }
            }
        }

    }


</table>