@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FPL</h1>
</div>
@*<table>
    <tr>
        <th>Team</th>
        <th>Form</th>
    </tr>
    @foreach (var teams in Model.Statistic.element_types)
    {
        foreach (var item in Model.Statistic.elements)
        {
            foreach (var team in Model.Statistic.teams)
            {

                if (teams.id == item.element_type && team.code == item.team_code)
                {
<tr>
    <td><p>@teams.plural_name_short</p></td>
    <td><p>@item.second_name</p></td>
    <td><p>@team.name</p></td>
</tr>
                }
            }
        }
    }
</table>*@

<table>
    <tr>
        <th>Name</th>
        <th style="padding-right: 20px">Position</th>
        <th>Team</th>
        <th style="padding-right: 20px">Total points</th>
        <th style="padding-right: 20px">Points per game</th>
        <th style="padding-right: 20px">Goals</th>
        <th style="padding-right: 20px">Assists</th>
        <th>Bonus</th>
    </tr>
    @foreach (var element in Model.Statistic.elements.OrderByDescending(o => o.total_points))
    {
        foreach (var team in Model.Statistic.teams)
        {
            foreach (var e_type in Model.Statistic.element_types)
            {
                if (element.team_code == team.code && e_type.id == element.element_type)
                {
<tr>
    <td><p>@element.second_name, @element.first_name</p></td>
    <td><p>@e_type.plural_name_short</p></td>
    <td style="padding-right: 20px"><p>@team.name</p></td>
    <td><p>@element.total_points</p></td>
    <td><p>@element.points_per_game</p></td>
    <td><p>@element.goals_scored</p></td>
    <td><p>@element.assists</p></td>
    <td><p>@element.bonus</p></td>
</tr>
                }
            }
        }
    }
</table>